
@{
    ViewData["Title"] = "SubirArchivos";
}


<label for="file"> Subir Archivo</label>
<input type="file" name="file" id="file" />
<a class="btn btn-danger" asp-controller="Autos" asp-action="CargarData"> Cargar Data</a>

