@using Laboratorio5_EDD.DTO;
@model IEnumerable<AutosDTO>
@{
    ViewData["Title"] = "SubirArchivos";
}
@using (Html.BeginForm("CargarData","Autos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" /> 
    <button type="submit" asp-controller="Autos" asp-action="CargarData" class="btn btn-danger">Cargar data</button>
}